

.charts{
    display: flex;
    width: 99%;
    
    
    .charts-container {
        flex: 5;
        display: flex;
        flex-direction: column;
        
       
        .linechart{
            width: 80%;  
            height: 400px; 
            margin: 0 auto;
        }
    }
   
}


h2 {
    text-align: center; /* Center the title */
}